.glow-cursor {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--accent);
    opacity: 1;
    filter: blur(25px);
    pointer-events: none;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
    transform: translate(-50%, -50%);
}
  
/* Add an extra larger layer */
.glow-cursor::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--accent);
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(50px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  