#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
	 
    background: transparent;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);

    display: flex;
    justify-content: center;

    border-bottom: 1px dashed var(--border);
    
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-btn{
    min-width: 2.5rem;
    background: transparent;
    font-size: 1rem;
}