.subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 54rem;

    border-top: 2px solid var(--border);
    border-bottom: 2px solid var(--border);
    border-radius: 3rem;

    padding: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;

    transition: var(--trans);
}
.subsection:hover {
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    background-color: var(--border);
    box-shadow: 0 0 0.5rem black;
}

.subsection-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.project-card {
    width: 100%;
}

.project-image {
    width: 25%;
    height: auto;
}

.project-title {
    font-size: larger;
    font-weight: 600;
    color: var(--accent-color);
}

.project-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
}

.project-skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.project-skill {
    border: 1px solid var(--border);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
}
.project-skill:hover {
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 0.5rem black;
}